$black: #000;
$white-text1: #ffc691;
$white-text2: #c39f00;
$red: #9c3333;
$translucent-1: #000000c0;
$translucent-2: #0000009a;

:root {
	--text-1: #082e52;
	--accent-color-1: #c76331;
	--accent-color-2: #696969;
	--back-color-1: #e0dcbe;
	--back-color-2: #c7c4a6;
	--back-color-3: #1f1f1f;
}

/* default classes for hiding based on screen size */
@media ( max-width: 760px ) {
	.hide-small {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( max-width: 992px ) and ( min-width: 761px ) {
	.hide-medium {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( min-width: 993px ) {
	.hide-large {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

body {
	display: flex;

	flex-direction: column;

	margin: 0;

	background: var( --back-color-1 );

	color: var( --text-1 );
	font-family: 'Arial', sans-serif;
}

header {
	display: flex;

	flex-direction: row;
	justify-content: space-between;

	width: calc( 100% - 20px );
	height: 40px;

	margin-bottom: 2px;
	padding-right: 10px;
	padding-left: 10px;

	border-bottom: 5px solid var( --text-1 );

	background-image: radial-gradient( var( --text-1 ) 1px, transparent 0 );
	background-size: 3px 3px;

	/* box-shadow: 0 2px 0 0 var( --back-color-1 ), 0 12px 0 0 var( --text-1 ); */

	p {
		display: flex;

		align-items: center;
		justify-content: center;

		height: 100%;

		margin: 0;
		padding: 0 10px;

		background: var( --back-color-1 );

		font-size: 1.3em;
	}

	div {
		display: flex;

		gap: 10px;

		button {
			border: 5px solid var( --text-1 );

			background: var( --back-color-1 );

			color: var( --text-1 );
			font-size: 1.2em;
		}
	}
}

.menu {
	position: absolute;

	z-index: 1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-image: radial-gradient( var( --text-1 ) 1px, transparent 0 );
	background-size: 3px 3px;

	.buttons {
		display: flex;

		position: absolute;

		top: 0;
		right: 10px;

		flex-direction: column;

		p {
			align-self: flex-end;

			width: calc( 50% - 10px );

			margin: 0;
			margin-bottom: 10px;
			padding: 8px;

			border: 0;
			border-left: 8px solid $red;

			background: var( --back-color-1 );
			box-shadow: -2px 0 0 0 var( --back-color-1 ), -5px 0 0 0 $red, -6px 0 0 0 var( --back-color-1 );

			color: $red;
			font-size: 1.2em;
			text-align: right;

			cursor: pointer;
		}

		a,
		button {
			margin-bottom: 12px;
			padding: 8px;

			border: 5px solid var( --text-1 );

			background: var( --back-color-1 );

			color: var( --text-1 );
			font-size: 1.2em;
			text-align: left;
			text-decoration: none;

			cursor: pointer;
		}
	}
}

.main {
	display: flex;

	flex-direction: column;

	height: calc( 100vh - 40px );

	overflow: auto;

	>h2 {
		display: flex;

		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;
	}

	.actions {
		display: flex;

		flex-direction: row;
		justify-content: space-around;

		padding: 5px;

		background: var( --text-1 );

		button {
			border: 2px solid var( --back-color-2 );

			background: transparent;

			color: var( --back-color-2 );
			font-size: 1.2em;
		}
	}

	.events {
		display: flex;

		flex-direction: column;

		width: 100%;

		.event {
			width: 100%;
		}
	}
}

.dialog {
	display: none;

	position: absolute;

	z-index: 1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	flex-direction: column;

	background: #a1a1a1;

	.row {
		display: flex;

		flex-direction: row;
		align-items: center;

		margin: 10px;
	}
}
